.quest-content-wrapper {
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  box-sizing: border-box;
  padding: 40px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
