.welcome-card-container {
  position: relative;
  display: flex;
  align-items: center;

  padding: 40px 60px;
  border-radius: 30px;

  overflow: hidden;

  background-image: url("../../assets/welcome-card-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 10px 25px rgba(126, 237, 238, 0.1);
  margin: 30px 20px;
}

.background-layer {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.mascot-layer {
  position: absolute;
  z-index: 1;
  height: 600px;
  left: 40px;
  bottom: -200px;
}

.content-layer {
  position: relative;
  z-index: 2;
  margin-left: 450px;
}

.content-layer h1 {
  margin: 0;
  font-size: 50px;
  margin-bottom: 10px;
}

.content-layer p {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
}

.progress-container p {
  margin: 0 0 10px;
  font-weight: 600;
}

.progress-bar {
  width: 400px;
  height: 50px;
  background-color: #e5e7eb;
  border-radius: 999px;
  overflow: hidden;
  border-color: white;
  border-width: 5px;
  border-style: solid;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #22c55e, #16a34a);
  border-radius: 999px;
  transition: width 0.4s ease;
}
