.header-container {
  display: flex;
  background: linear-gradient(90deg, #44c7c9, #42c2d0);
  padding: 5px 40px 18px 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: white;

  position: relative;
  overflow: visible;
  font-size: 25px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-mascot {
  height: 110px;
  position: relative;
  top: 17px;
}

.logo {
  margin: 0;
  margin-top: 20px;
  font-size: 45px;
  font-weight: 700;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.experience-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  border-radius: 100px;
}
.experiencia-start-image {
  height: 40px;
}

.experience-points {
  margin: 0;
  font-weight: 600;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: white;
  color: #333;
  padding: 6px 14px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2 s ease;
}

.profile-container:hover {
  transform: scale(1.05);
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin: 0;
  font-weight: 600;
}

.header-bottom-section {
  background-image: url("../../../assets/welcome-card-background.png");
}
